<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/styles/feeds.css">
</head>

<body>
    <div id="addFeedForm" class="add-feed-form">
        <h1>Post Feeds</h1>
        <form>
            <label for="feedImage">Upload Image:</label><br>
            <input type="file" id="feedImage" name="feedImage" placeholder="Enter image URL"><br><br>

            <label for="feedTitle">Card Title:</label><br>
            <input type="text" id="feedTitle" name="feedTitle" placeholder="Enter card title"><br><br>

            <label for="feedDescription">Card Description:</label><br>
            <textarea id="feedDescription" name="feedDescription" rows="4"
                placeholder="Enter card description"></textarea><br><br>
            <label for="feedource">Source URL:</label><br>
            <input type="text" id="feedSource" name="feedSource" placeholder="Enter Source URL"><br><br>

            <button type="submit">Post</button>
            <button type="button" id="addcancelButton">Cancel</button>
        </form>
    </div>
    <div id="editFeedForm" class="edit-feed-form">
        <h1>Edit Feed</h1>
        <form>
            <label for="feedImage">Upload Image:</label><br>
            <input type="file" id="feedImage" name="feedImage" placeholder="Enter image URL"><br><br>

            <label for="feedTitle">Card Title:</label><br>
            <input type="text" id="feedTitle" name="feedTitle" placeholder="Enter card title"><br><br>

            <label for="feedDescription">Card Description:</label><br>
            <textarea id="feedDescription" name="feedDescription" rows="4"
                placeholder="Enter card description"></textarea><br><br>
            <label for="feedource">Source URL:</label><br>
            <input type="text" id="feedSource" name="feedSource" placeholder="Enter Source URL"><br><br>

            <button type="submit">Post</button>
            <button type="button" id="editcancelButton">Cancel</button>
        </form>
    </div>

    <div class="sidebar">
        <div style="display: flex;flex-direction: column;">
            <img src="/public/img/logo.png" style="height: 120px; width: 120px; margin-left: 60px;" />
            <p style="font-size: larger; color: black; font-weight: 600; margin-left: 70px; margin-bottom: 20px;">
                FarmEasy</p>
        </div>

        <div
            style="height: 600px; background-color: rgba(253, 251, 255, 0.55); font-size: large; padding: 10px; border-radius: 5px;">
            <p style="font-size: 22px; font-weight: 700; color: black; margin-bottom: 8px; margin-top: 5px; margin-left: 80px;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Feeds</p>
            <a href="/dashboard" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Dashboard</p>
                </div>
            </a>


            <div style="height: 5px;"></div>

            <a href="/schemes" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Schemes</p>
                </div>
            </a>
            <div style="height: 5px;"></div>
            <a href="/contacts" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Contacts</p>
                </div>
            </a>

            <div style="height: 5px;"></div>
            <a href="#" style="text-decoration: none; color: aliceblue;">
                <div class="side-items" style="background-color: rgb(25, 127, 164);">
                    <p>Feeds</p>
                </div>
            </a>
            <div style="height: 5px;"></div>
            <a href="/profile" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>User Profile</p>
                </div>
            </a>
            <div style="height: 5px;"></div>
            <a href="#" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Logout</p>
                </div>
            </a>

        </div>
    </div>
    <div class="dashboard">
        <div class="Sdetails"
            style="display: flex; flex-direction: column; position: fixed; top: 0; left: 30; width: 100%; background-color: white; z-index: 1;">
            <div class="bslot">
                <div class="op">
                    <p>New Post</p>
                </div>
            </div>
        </div>

        <div class="cardArea" style="margin-top: 80px;">

            <div class="card">
                <img src="image.jpg" alt="Card Image" class="card-image">
                <div class="card-content">
                    <h3>This is the card title</h3>
                    <p>This is some content about the card. It can contain multiple sentences and paragraphs.</p>
                    <a href="https://www.youtube.com/" target="_blank" class="card-button">View Link</a>
                    <div id="editpostButton" href="https://www.youtube.com/" onclick="openEdit()" target="_blank"
                        class="card-button1">Edit</div>
                    <div href="https://www.youtube.com/" target="_blank" class="card-button2">Delete</div>
                    <p class="card-a">Posted on : 14/03/2024</p>
                </div>

            </div>
            <div class="card">
                <img src="image.jpg" alt="Card Image" class="card-image">
                <div class="card-content">
                    <h3>This is the card title</h3>
                    <p>This is some content about the card. It can contain multiple sentences and paragraphs.</p>
                    <a href="https://www.youtube.com/" target="_blank" class="card-button">View Link</a>
                    <div id="editpostButton" href="https://www.youtube.com/" onclick="openEdit()" target="_blank"
                        class="card-button1">Edit</div>
                    <div href="https://www.youtube.com/" target="_blank" class="card-button2">Delete</div>
                    <p class="card-a">Posted on : 14/03/2024</p>
                </div>

            </div>
            <div class="card">
                <img src="image.jpg" alt="Card Image" class="card-image">
                <div class="card-content">
                    <h3>This is the card title</h3>
                    <p>This is some content about the card. It can contain multiple sentences and paragraphs.</p>
                    <a href="https://www.youtube.com/" target="_blank" class="card-button">View Link</a>
                    <div id="editpostButton" href="https://www.youtube.com/" onclick="openEdit()" target="_blank"
                        class="card-button1">Edit</div>
                    <div href="https://www.youtube.com/" target="_blank" class="card-button2">Delete</div>
                    <p class="card-a">Posted on : 14/03/2024</p>
                </div>

            </div>
            <div class="card">
                <img src="image.jpg" alt="Card Image" class="card-image">
                <div class="card-content">
                    <h3>This is the card title</h3>
                    <p>This is some content about the card. It can contain multiple sentences and paragraphs.</p>
                    <a href="https://www.youtube.com/" target="_blank" class="card-button">View Link</a>
                    <div id="editpostButton" href="https://www.youtube.com/" onclick="openEdit()" target="_blank"
                        class="card-button1">Edit</div>
                    <div href="https://www.youtube.com/" target="_blank" class="card-button2">Delete</div>
                    <p class="card-a">Posted on : 14/03/2024</p>
                </div>

            </div>
            <div class="card">
                <img src="image.jpg" alt="Card Image" class="card-image">
                <div class="card-content">
                    <h3>This is the card title</h3>
                    <p>This is some content about the card. It can contain multiple sentences and paragraphs.</p>
                    <a href="https://www.youtube.com/" target="_blank" class="card-button">View Link</a>
                    <div id="editpostButton" href="https://www.youtube.com/" onclick="openEdit()" target="_blank"
                        class="card-button1">Edit</div>
                    <div href="https://www.youtube.com/" target="_blank" class="card-button2">Delete</div>
                    <p class="card-a">Posted on : 14/03/2024</p>
                </div>

            </div>
            <div class="card">
                <img src="image.jpg" alt="Card Image" class="card-image">
                <div class="card-content">
                    <h3>This is the card title</h3>
                    <p>This is some content about the card. It can contain multiple sentences and paragraphs.</p>
                    <a href="https://www.youtube.com/" target="_blank" class="card-button">View Link</a>
                    <div id="editpostButton" href="https://www.youtube.com/" onclick="openEdit()" target="_blank"
                        class="card-button1">Edit</div>
                    <div href="https://www.youtube.com/" target="_blank" class="card-button2">Delete</div>
                    <p class="card-a">Posted on : 14/03/2024</p>
                </div>





            </div>


        </div>
    </div>
        <script>
            var bslot = document.querySelector('.bslot');
            var addcancelButton = document.getElementById('addcancelButton');
            var addFeedForm = document.getElementById('addFeedForm');
            var editpostButton = document.getElementById('editpostButton');
            var editcancelButton = document.getElementById('editcancelButton');
            var editFeedForm = document.getElementById('editFeedForm');
            bslot.addEventListener('click', function () {
                addFeedForm.style.display = "block"
            })

            addcancelButton.addEventListener('click', () => {
                addFeedForm.style.display = "none"
            })

            function openEdit() {
                editFeedForm.style.display = "block"
            }

            editcancelButton.addEventListener('click', () => {
                editFeedForm.style.display = "none"
            })
        </script>
</body>

</html>